configuration {
    show-icons:   true;
    sidebar-mode: false;
}

* {
    background-color: transparent;
    text-color: #768390;
    spacing: 30;
}

#window {
    font: "JetBrainsMono Nerd Font 14";
    fullscreen: true;
    transparency: "background";
    background-color: #181b1ed0;
    children: [ dummy1, hdum, dummy2 ];
}

#hdum {
    orientation: horizontal;
    children: [ dummy3, mainbox, dummy4 ];
}

#element-text.selected {
    text-color: #d3dbe3;
}
