configuration {
    show-icons: true;
}

* {
    bg0: #181b1e;
    bg1: #181b1e;
    bg2: #d3dbe3;
    bg3: #444c56;

    fg0: #d3dbe3;
    fg1: #d3dbe3;
    fg2: #768390;
    fg3: #768390;
}

@import "rounded-template.rasi"
